<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    {% autoescape off %}

        {{ content }}

        <hr>
        <h3>
            Data platform links：
        </h3>
        {% for link in external_links %}
            <h5>
                <a href="{{ link.link }}" target="_blank">
                    {{ link.title }}
                </a>
            </h5>
        {% endfor %}
    {% endautoescape %}
    <hr>
    <p>
        Page last updated: {{ last_updated|date:"D d F Y" }}
    </p>
{% endblock content %}

