<!DOCTYPE html>
<html lang="en">

{% extends 'widgets/_card_back_wrapper.html' %}
{% load static %}

<!-- Bar Chart -->
{% block title %}
    cash flow impact
{% endblock %}

{% block div %}
    <div class="chart-bar">
        <canvas id="myBarChart"></canvas>
    </div>
{% endblock %}

{% block comments %}
    Comments
{% endblock %}

{% block js %}
<!-- Page level plugins -->
<script src="{% static 'themes/sb_admin_2/vendor/chart.js/Chart.min.js' %}"></script>

<script src="{% static 'js/chart-bar-demo.js' %}"
        data="{{ data_bar_chart }}">
</script>
{% endblock %}
