<!DOCTYPE html>

{% extends './_card_back_wrapper.html' %}
{% load static %}

{% block title %}

{{widgets.chart_bar_demo.data}}
    {{ widgets.chart_bar_demo.title }}
{% endblock title %}

{% block div %}
    <div class="chart-area">
        <canvas id="{{ widgets.chart_bar_demo.js_name }}"></canvas>
    </div>
{% endblock %}

{% block comments %}
    {{ widgets.chart_bar_demo.comments }}
{% endblock comments %}

{% block js %}
<!-- Page level plugins -->
<script src="{% static 'themes/sb_admin_2/vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/'|add:widgets.chart_bar_demo.js_name|add:'.js' %}"
        data="{{ widgets.chart_bar_demo.data }}">
</script>

{% endblock js %}

