<!DOCTYPE html>
<html lang="en">

{% extends 'widgets/_back_wrapper.html' %}
{% load static %}

{% block content %}
<body>
<!-- Area Chart -->

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">本年月度助信贷余额</h6>
        </div>
        <div class="card-body">
            <div class="chart-area">
                <canvas id="crt_monthly_loan_outstanding"></canvas>
            </div>
            <hr>
            Comments
        </div>


    <!-- Page level plugins -->
    <script src="{% static 'themes/sb_admin_2/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/crt_monthly_loan_outstanding.js' %}"></script>


</body>
{% endblock %}
</html>