<!DOCTYPE html>

{% extends './_card_back_wrapper.html' %}
{% load static %}

{% block title %}
    {{ widgets.crt_monthly_loan_ost.title }}
{% endblock title %}

{% block div %}
    <div class="chart-area">
        <canvas id="{{ widgets.crt_monthly_loan_ost.js_name }}"></canvas>
    </div>
{% endblock %}

{% block comments %}
    {{ widgets.crt_monthly_loan_ost.comments }}
{% endblock comments %}

{% block js %}
<!-- Page level plugins -->
<script src="{% static 'themes/sb_admin_2/vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/line_chart.js' %}"
        data="{{ widgets.crt_monthly_loan_ost.data }}"
        chart_id="{{ widgets.crt_monthly_loan_ost.js_name }}">

</script>

{% endblock js %}