<!DOCTYPE html>

{% extends './_card_back_wrapper.html' %}
{% load static %}

{% block title %}
    accumulate currency
{% endblock %}

{% block div %}
    <div class="chart-area">
        <canvas id="crt_monthly_loan_ost"></canvas>
    </div>
{% endblock %}

{% block comments %}
    Comments
{% endblock %}

{% block js %}
<!-- Page level plugins -->
<script src="{% static 'themes/sb_admin_2/vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/crt_monthly_loan_ost.js' %}"
        data="{{ data_crt_monthly_loan_ost }}">
</script>
{% endblock %}
