<!DOCTYPE html>
<html lang="en">

<div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
    <div class="boxs top_report_chart l-blue">
        <div class="boxs-body">
            <h3 class="mt-0">52.3 Gb</h3>
            <p>Traffic this month</p>
        </div>
        <div class="sparkline" data-type="line" data-spot-Radius="3" data-highlight-Spot-Color="rgb(233, 30, 99)" data-highlight-Line-Color="#222"
        data-min-Spot-Color="rgb(233, 30, 99)" data-max-Spot-Color="rgb(0, 150, 136)" data-spot-Color="rgb(0, 188, 212)"
        data-offset="90" data-width="100%" data-height="60px" data-line-Width="2" data-line-Color="rgba(255, 255, 255, 0.2)"
        data-fill-Color="rgba(255, 255, 255, 0.3)"> 7,6,7,8,5,9,8,6,7 </div>
    </div>
</div>

</html>