<div class="dropdown no-arrow">
    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
        aria-labelledby="dropdownMenuLink">
        <div class="dropdown-header">Actions: </div>
        {% for dd_item in widget.dropdown_items %}
            <a class="dropdown-item" href="{{ dd_item.url }}">{{dd_item.title}}</a>
        {% endfor %}
    </div>
</div>